# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
.pnpm-store
dist

# Node dependencies
node_modules
node-compile-cache

# Logs
logs
*.log

# Playwright
test-results
playwright-report

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
